:root {
  --black: #11131d;
  --white: #e8e7e7;
  --red: #ff7c7c;
}

/* // 21243D */

html,
body {
  min-width: 600px; /* Set your desired minimum width */
}

body {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px;
  min-width: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#menuToggle {
  display: block;
}

#menuToggle span {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  right: 10px;
  top: 30px;
  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;
}
button {
  background-color: var(--white);
  border: none;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  border-radius: 7px;
  transition-duration: 500ms;
  transition-property: background-color;
}

button:hover {
  background-color: var(--red);
}
.smallogo {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  transition-duration: 500ms;
  border-radius: 3px;
}

.smallogo:hover {
  background-color: var(--red);
}

.link {
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

/* Below are Nav */

nav {
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  margin: auto;
}

.line {
  width: 100vw;
  border-bottom: 1px solid var(--white);
}

.NavContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.Vrt {
  border-left: 1px solid var(--white);
  left: 100px;
}

img {
  width: 50px;
  height: 50px;
}

.pLogo {
  height: 45px;
  width: auto;
  margin-left: -2vw;
}

.smallogo {
  width: auto;
  height: 16px;
}

/* Below are SubNav */
.Itemshow {
  display: flex;
  justify-content: space-between;
}

.SubNav {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  height: 10vh;
  background-color: var(--black);
}

.ProductContainer {
  display: flex;
  justify-content: space-between;
}

.P-Text {
  font-size: 26px;
  color: var(--white);
  font-family: "Noto Serif Display", serif;
}

.Arrow {
  width: 30px;
  height: auto;
}
.Pbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1vw 0px 1vw;
  gap: 20px;
}

.Pbutton:not(#mywork):hover {
  background-color: var(--white);
}

.Pbutton:not(#mywork):hover .PBox {
  color: var(--black);
}

.Pbutton .Arrow {
  transition: transform 0.3s ease-in-out;
}

.Pbutton:hover .Arrow,
.Pbutton.hovering .Arrow {
  transform: rotate(180deg);
}

.Flower {
  position: absolute;
  top: 25vh;
  left: 4vw;
  height: 60px;
  width: auto;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

/* Below are Content */

h1 {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  color: var(--white);
}

.AllContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 84vh;
  max-height: 100%;
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
  overflow: hidden;
}

.Contact-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 30px;
  padding: 30px 50px;
  text-decoration: underline 3px;
  border-radius: 2px;
}

.TextContentContainer {
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 4vh;
  width: 40vw;
}

.potraitContainer {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
}

.nameContainer {
  display: flex;
  position: absolute;
  right: 30vh;
  z-index: 1;
  flex-direction: column;
}

.BigName {
  font-size: 100px;
  background: none;
  text-align: left;
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  color: var(--black);
  transition-duration: 500ms;
  transition-property: color;
}

.BigName:hover {
  background: none;
  color: var(--red);
}

.Portrait {
  position: absolute;
  width: auto;
  height: 80vh;
  bottom: 0px;
}

.Background {
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
  z-index: -1;
  overflow: hidden;
}

.Top-logo-container {
  display: none;
}

.Menu {
  position: absolute;
  top: 10vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-left: -1vw;
}

.Gap {
  background-color: transparent;
  height: 1vh;
}

.MenuItem {
  display: flex;
  background-color: var(--black);
  border: 1px solid var(--white);
  justify-content: flex-start;
  padding-left: 1vw;
  align-items: center;
  font-size: 28px;
  color: var(--white);
  font-family: "Noto Serif Display", serif;
  height: 10vh;
  margin-bottom: -1px;
  border-top: 1px solid var(--white);
  border-radius: 0px;
  transition: none;
}

.MenuItem:hover {
  background-color: var(--white);
  color: var(--black);
}

.example_product {
  margin: 0px;
  height: auto;
}

#Bednarc {
  height: 60vh;
  width: 30vw;
  top: 100px;
  object-fit: cover;
}
p {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40vw;
}
*/ .content {
  background-color: var(--red);
  position: relative;
  top: 10vh;
  left: 10vw;
  display: flex;
  align-items: center;
  gap: 2vw;
  width: 80vw;
}

.productphoto {
  top: 15vh;
  position: relative;
  left: 10vw;
  width: 80vw;
  height: auto;
}

.quote {
  position: relative;
  z-index: 1;
  left: 48vw;
  top: 20vh;
  width: 40vw;
  font-family: "Noto Serif Display", serif;
  font-size: 3vw;
  background-color: var(--black);
  color: var(--white);
  padding: 30px;
  border: solid var(--white);
}

.li {
  font-size: 20px;
  font-family: "Noto Serif Display", serif;
  color: var(--black);
  background-color: var(--white);
}
.text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

/* below are projects */
/* below are projects */

.ProductFullPage {
  overflow: hidden;
  display: flex;
  position: absolute;
  top: calc(15vh + 1px);
  height: 78vh;
  width: 100vw;
  background-color: var(--black);
  border-top: 1px solid var(--white);
}

.pageBox {
  background-color: var(--black);
  border: solid transparent;
  border-width: 1.5px;
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 66vh;
  width: 45vw;
  top: 10vh;
  left: 10vw;
}

.CAIJcover {
  width: 40vw;
  border-radius: 5px;
  height: 40vh;
  object-fit: cover;
  object-position: top;
}

.SpotOnCover {
  width: 40vw;
  border-radius: 5px;
  height: 40vh;
  object-fit: cover;
  object-position: bottom;
}

.description {
  /* padding-left: 2vw;
  padding-right: 2vw; */
  width: 40vw;
}

.extraInfo {
  /* padding-left: 2vw;
  padding-right: 2vw; */
  padding-bottom: 1vh;
  color: #868789;
}
/* This is srhink page
This is srhink page
This is srhink page
This is srhink page */
a {
  color: var(--white);
  font-style: italic;
  margin-left: 10px;
}

@media (max-width: 1500px) {
  .PBox {
    font-size: 20pt;
  }
}

@media (max-width: 1300px) {
  .Flower {
    top: 23vh;
  }
  .Top-logo-container {
    display: flex;
    align-items: center;
    margin-left: 2vw;
  }

  .nameContainer {
    bottom: 40vh;
  }

  .SubNav {
    height: 70px;
  }

  .Menu {
    position: absolute;
    top: 7vh;
  }

  .MenuItem {
    height: 8vh;
  }
  .Portrait {
    position: absolute;
    width: 50vw;
    height: auto;
    bottom: 0px;
  }

  .pLogo {
    height: 25px;
    padding-right: 5px;
  }

  .Portrait {
    height: 70vh;
  }
  .P-Text {
    font-size: 20px;
  }
  .ProductContainer {
    width: 90vw;
  }

  .Pbutton {
    width: 45vw;
  }

  #mywork {
    display: none;
  }
}

/* @media only screen and (max-width: 800px) {
  .SubNav {
    width: 100vw;
    position: relative;
  }
  .ProductContainer {
    width: 100vw;
  }
  .Pbutton {
    justify-content: center;
    width: 33vw;
    padding: 0;
  }

  .BigName {
    font-size: 10vh;
    white-space: normal;
  }
  .content {
    flex-direction: column;
  }

  .PBox {
    font-size: 14pt;
  }

  #menuToggle span {
    display: block;
  }

  .Arrow {
    display: none;
  }

  

  .endline {
    display: none;
  }

  .Portrait {
    display: none;
  }

  article {
    width: 90vw;
    padding-left: 5vw;
  }
  .NavContainer {
    display: none;
  }
}

@media (max-width: 500px) {
  .BigName {
    border-radius: 0 20vw 0 0;
  }
  article {
    gap: 1vh;
  }
}

@media (max-height: 700px) {
  article {
    gap: 2vh;
  }
  img {
    width: 30px;
    height: 30px;
  }
}


@media (max-height: 700px) {
  .Menu {
    top: 20vh;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
  }

  #Bednarc {
    object-fit: fill;
    width: 80vw;
    height: auto;
  }

  p {
    width: 70vw;
    font-size: 9px;
  }
}

/* Below are interactive items */
