:root {
  --black:#21243D;
  --white:#F6F6F6;
  --red:#FF7C7C;
}


body {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  flex-direction:column;
  margin: 0px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#menuToggle
{
  display: block; 
}

#menuToggle span{
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  right: 10px;
  top: 30px;
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
}
button{
    background-color:var(--white);
    border: none;
    color: var( --black);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    transition-duration: 500ms ;
    transition-property: background-color;
}

button:hover{
    background-color: var(--red);
}

.link{
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
}


.line{
    width: 100vw;  
    border-bottom: 1px solid var(--white);
    }


.NavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.Vrt{
    border-left: 2px solid var(--white);
    left: 100px;
}


img{
    width: 50px;
    height: 50px;  
}

.smallogo{
    width: 30px;
    height: 30px;  
}



.SubNav{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  height: 10vh;
}



.ProductContainer{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.PName{
  font-size: 28px;
  color: var(--white);
  font-family: 'Noto Serif Display', serif ;
}

.PBox{
  font-size: 28px;
  color: var(--white);
  font-family: 'Noto Serif Display', serif ;
  
}

.Arrow{
  width: 30px;
  height: auto;
}
.Pbutton{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding-left: 5vw;
  padding-top: 1vw;
  gap: 4vh;
  width: 40vw;
}

h1{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
 
}

.AllContentContainer{
  height: 79vh;
  max-height: 100%;
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  gap:5vw;
  overflow: hidden;
}


.TextContentContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#potraitbox{
  display: flex;
  align-items: flex-end;
}

.BigName{
  font-size: 13vh;
  background: none;
  text-align: left;
  font-family: 'Noto Serif Display', serif ;
  color: var(--white);
  padding-left: 5vw;
  padding-top: 2vh;
  line-height: 1;
  transition-duration: 500ms ;
  transition-property: color;
}

.BigName:hover{
  background: none;
  color: var(--red);
}

#rectangle{
  width:50vw;
  height:30vh;
  border: 1vh solid var(--white);
  left: -20px;
  border-radius: 0 5vw 0 0;
  
}

.Portrait{
  position: relative;
  width: auto ;
  height: 60vh;
  bottom: 0px;

  
}

.Background{
  height: 100vh;
  width: 100vw;
  background-color: var(--black);  
  z-index: -1;
  overflow: hidden;
}


footer{
  font-size: 10px;
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  right: 10px;
  bottom: 10px
}
@media(max-height:800px){
  
  .BigName{
      font-size: 14vh;
  }

}
@media(max-width:1400px){
  #rectangle{
      width: 65vw;
      position: relative;
      
  }
}

@media(max-width:1000px){
  
  .TextContentContainer{
      gap: 25vh;
  }
  article{
  width: 80vw;
  }
  .NavContainer{
      gap: 10px;
  }
  
  .BigName{
      font-size: 13vw;
      }
  #mywork{
      display: none;
  }
  #rectangle{
      width: 90vw;
  }
}

@media only screen and (max-width: 800px) { 
  .PBox{
    font-size: 3vw;
  }

  #menuToggle span{
      display: block;
  }
  
  .ProductContainer{
    gap: 5vw;
  }

  .Arrow{
      display: none;
  }

  #mywork{
      display: none;
  }

  .endline{
      display: none;
  }

  .Portrait{
      display: none;
  }

  .Vrt{
      padding-right: 20px;
  }
  article{
      width: 90vw;
      padding-left: 5vw;
  }
  .NavContainer{
      display: none;
  }

  .SubNav{
      justify-content: space-around;
  }
}

@media(max-width:400px){
 




@media(max-height:700px){
 
  article{
      gap: 2vh;
  }
  img{
      width: 30px;
      height: 30px;  
  }

  #rectangle{
  display: none;
 }
}}


/* Below are interactive items */

.Menu{
  position: absolute;
  top: 25vh;
  right: 5vw;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.MenuItem{
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;  vertical-align: middle;
  color: var(--white);
  font-family: 'Noto Serif Display', serif ;  
  height: 10vh;
  margin-bottom: -1px;
  border-top: 1px solid var(--white);
  border: solid var(--white);
}
